@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    overflow: hidden;
}
content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
h1{
    font-size: 10rem;
    color: black;
    background-color: transparent;
    font: 3em "Roboto", sans-serif ;
    text-align: center;
    align-self: center;
}
video{
    width: auto;
    height: auto;
    text-align: center;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}